:root {
  /*Las -- son para definir una variable en CSS*/
  --azul-azul: #103D4A;
  --blanco: #f8f7f9;
  --blanco-p: #ffffff;
  --gris-claro: #666666;
  --gris-oscuro: #4F4C4C;
  --negrito: #000000;
  --negro: #131313;
  --otro-violeta: #c3b8ce;
  --violeta-mc: #967bdc;
  --violeta-mo: #ac92ed;

  --pacifico: 'Pacifico', cursive;
  --roboto: 'Roboto', sans-serif;
}

body {
  background-color: var(--blanco);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  position: relative;
  transform: translateY(150px);
  transition: 2s all ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/*Scrool personalizado*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(200, 162, 217);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(200, 162, 217);
}