footer{
    background: var(--violeta-mc);
    padding: 2rem;
    text-align: center; 
}
.footer-derecho{
color: var(--gris-oscuro);
 font-size: 0.7rem;
}
.footer-link{
    color: var(--negro);
    font-size: 0.8rem;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}