.skills-hard__same--imagen {
    height: 120px;
    padding: 1rem;
    width: 120px;
}
@media screen and (max-width:600px){
    .skills-hard__same--imagen{
        height: 100px;
        width: 100px;
    }
}

