.head__nombre{
    font-family: var( --roboto);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--negro);
    text-transform: uppercase;
}

@media screen and (min-width:0){
    .head__nombre{
    display: none;
    }
 }
@media screen and (min-width:768px) {
    .head__nombre{
        display: block ;
    }   
}