.head__nombre {
    color: var(--violeta-mo);
    font-family: var(--roboto);
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
}

@media screen and (max-width:600px) {
    .head__nombre {
        display: none;

    }
}

@media screen and (max-width:768px) {
    .head__nombre {
        display: none;
    }
}