.cabecera {
  background: var(--blanco);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid var(--violeta-mc);
  padding: 20px;
  position: fixed;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav a {
  border-radius: 5px;
  letter-spacing: 0.5px;
  padding: 10px 20px;
}

header nav a:hover,
header nav a.active {
  background: var(--violeta-mc);
  letter-spacing: 2px;
  transition: 0.5s ease-out;
}