.quien-soy__titulo {
    color: var(--violeta-mc);
    font-family: var(--pacifico);
    font-size: 2.1875rem;
    font-weight: 300;
    padding: 2rem;
    text-align: center;
}

@media screen and (max-width:600px) {
    .quien-soy__titulo {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:768px) {
    .quien-soy__titulo {
        font-size: 0.9;
    }
}