.quien-soy__descripcion {
    color: var(--gris-oscuro);
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}

@media only screen and (max-width:600px) {
    .quien-soy__descripcion {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:768px) {
    .quien-soy__descripcion {
        font-size: 0.8rem;
    }
}