.quien-soy {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width:600px){
 .quien-soy{
 display: block;
 }    
}