.quien-soy__titulo {
    color: var(--violeta-mc);
    font-family: var(--pacifico);
    font-size: 2.1875rem;
    font-weight: 300;
    padding:2rem;
    text-align: center;
}
@media screen and (max-width:600px)
{
    .quien-soy__titulo{
        font-size: 1rem;
        text-align: end;
    }
}