.quien-soy__titulo{
    margin-bottom: 1rem;
    color: var(--azul-azul);
    font-size:2.1875rem;
    font-family: var(--pacifico);
    text-align: left;
    font-weight: 300;
}
@media screen and(min-width:0) {
    .quien-soy__titulo{
        font-size: 2rem;
    }
}
@media screen and(min-width:768px) {
    .quien-soy__titulo{
        font-size: 2rem;
    }
}