.formacion__titulo {
    background: var(--blanco);
    font-family: var(--pacifico);
    font-weight: 300;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
    text-decoration: underline;
}

.formacion-forma___nombre {
    color: var(--azul-azul);
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
}
