.proyectos{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
text-align: center;
}
#proyectos-primeros{
    padding: 3rem;

}
.proyecto-proyecto__same{
  background-color: var(--blanco-p);
    border-radius: 1rem;
    opacity: 0.9;
    padding: 1rem;
}
.proyecto-proyecto__same:hover{
    cursor: pointer;
    transform: scale(1.1);
}




