.contactame {
  font-family: var(--pacifico);

  font-size: 2rem;
  font-weight: 300;
  padding: 4rem;
  text-align: center;
  text-decoration: underline;
}

.label,
.description {
  align-items: center;
  color: var(--negro);
  font-family: var(--roboto);
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0.6rem;
  text-transform: capitalize;
}

.enviar {
  align-items: center;
  border: none;
  background: var(--violeta-mc);
  border-radius: 10%;
  color: var(--negro);
  font-family: var(--roboto);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
  margin-left: 0.6rem;
}

form {
  margin-top: 2rem;
  padding: 1rem 0;
  position: relative;
  width: 31.25rem;
}

input,
textarea,
.label {
  display: block;
  width: 40vw;
}

p,
input,
textarea,
placeholder {
  font-family: var(--roboto);
  margin-left: 0.6rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--gris-claro);
}

input,
textarea {
  border: none;
  border-bottom: 1px solid var(--gris-claro);
  color: var(--violeta);
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 0;
}

textarea {
  resize: none;
}

#error,
#success-msg {
  color: var(--violeta-mc);
  margin: 0.125rem 0;
  font-family: var(--roboto);
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 45rem;
  text-transform: uppercase;
  width: 40vw;
}

#success-msg {
  transition-delay: 3s;
}