.sobre-mi__descripcion {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: var(--roboto);
    color: var(--azul-azul);
    text-align: left;
    padding: 2rem;
}
@media screen and (min-width:0){
    .sobre-mi__descripcion{
      font-size: 1.2rem;
    }
    }
 
@media screen and (min-width:768px) {
    .sobre-mi__descripcion{
        font-size: 1.3rem;
    }   
}