.soft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.soft-hability{
    background: var(--blanco);
    padding: 2rem;
}
@media screen and (min-width:0){
    .soft{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    }
@media screen and (min-width:768px) {
   .soft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }   
}
