.soft{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 50px;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.soft-hability{

    padding: 2rem;
}
.hability-soft__same{
  background-color: var(--blanco-p);
  border-radius: 1rem;
  opacity: 0.9;
  }
.hability-soft__same:hover{
  cursor: pointer;
transform: scale(0.8);
}

