.hobbies-hobbi___same--imagen{
    height: 120px;
    width: 120px;
    padding: 1rem;
    margin-left: 2rem;

}
@media screen and (min-width:0){
    .hobbies-hobbi___same--imagen{
      height: 130px;
      width: 130px;
    }
    }
 
@media screen and (min-width:768px) {
   .hobbies-hobbi___same--imagen{
    height: 120px;
    width: 120px;
    }   
}
