.hobbies{
    background: var(--violeta);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (min-width:0){
    .hobbies{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    }
@media screen and (min-width:768px) {
   .hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }   
}
